<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Marionette Contact Manager</title>
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <link href="./assets/css/application.css" rel="stylesheet">
  </head>

  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Contact Manager</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div class="starter-template">
        <h1>Contacts</h1>
        <div class="contact-region">
        </div>
      </div>

    </div>

    <script src="./assets/js/vendor/jquery.js"></script>
    <script src="./assets/js/vendor/bootstrap.js"></script>
    <script src="./assets/js/vendor/json2.js"></script>
    <script src="./assets/js/vendor/underscore.js"></script>
    <script src="./assets/js/vendor/backbone.js"></script>
    <script src="./assets/js/vendor/backbone.marionette.js"></script>

    <script type="text/template" id="contact-template">
    	<%= firstName %> <%= lastName %>
    </script>

    <script type="text/javascript">
    	// Instantinate application
    	var App = new Marionette.Application();

    	// Add a region for Marionette to modify
    	App.addRegions({contacts: ".contact-region"});

    	// Define the Model by extending Backbone.Model
    	App.Contact = Backbone.Model.extend({});

    	// Define a Collection of Models
    	App.ContactCollection = Backbone.Collection.extend({
    		model: App.Contact, // Define which model this collection holds
    		comparator: "lastName"	// Sort contents of collection by lastName by default
    	});

    	// Marrionette provides the ItemView which is a view that can accept a Model to supply data
    	App.ContactItemView = Marionette.ItemView.extend({
    		tagName: "li",			// Wrap template with <li>
    		className: "contact",	// <li class="contact">
    		template: "#contact-template"	// Point to template
    	});

    	// Marionette provides the CollectionView which is a view that accepts a Collection of ItemView
    	App.ContactsView = Marionette.CollectionView.extend({
    		tagName: "ul",					// Wrap colleciton view with <ul>
    		itemView: App.ContactItemView	// Define the views this collection view holds.
    	});

    	// When app is initialized, create the data and place it in the region
    	App.on("initialize:after", function(){

    		// Initialize the Collection through an array of objects
    		var contacts = new App.ContactCollection([
    			{
    				firstName: "Alice",
    				lastName: "Murphy",
    				phoneNumber: "999-1101"
    			},
    			{
    				firstName: "Bob",
    				lastName: "Brigham",
    				phoneNumber: "111-2020"
    			},
    			{
    				firstName: "Toby",
    				lastName: "Walker",
    				phoneNumber: "105-6666"
    			}
    		]);

    		// In the contacts region, instantiate a collection view of contacts
    		App.contacts.show(new App.ContactsView({
    			collection: contacts
    		}));
    	});

    	App.start();

    </script>

  </body>
</html>